* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "primary-nav secondary-nav"
        "primary-nav content"
        "primary-nav footer";
}

#primary-nav {
    grid-area: primary-nav;
    background-color: #1992d4;
    color: white;
}


#primary-nav a, #secondary-nav a {
    /* remove text decoration from all nav links */
    text-decoration: none;
}

#primary-nav a {
    color:white;
}

#primary-menu {
    padding: 1rem;
}

#primary-menu ul li {
    padding-bottom: 0.75rem;
    
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.025em;
}

#primary-menu ul li img {
    margin-right: 0.75rem;
    
    /* set all icons to the same size as menu text */
    width: 1rem;
    height: 1rem;
    /* convert svg to white  */
    filter: invert(100%) sepia(2%) saturate(7466%) hue-rotate(290deg) brightness(100%) contrast(108%);
}

#logo {
    padding: 1rem;

    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.025em;
}

#logo-img {
    margin-right: 1rem;
    
    width: 1.25rem;
    height: 1.25rem;
    /* convert svg to white  */
    filter: invert(100%) sepia(2%) saturate(7466%) hue-rotate(290deg) brightness(100%) contrast(108%);
}

#secondary-nav {
    grid-area: secondary-nav;
}

#secondary-nav__top-bar {
    
}

#secondary-nav__top-bar ul {
    display: grid;
    /* change units when icons are implemented (make search box bigger) */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
}

#secondary-nav__top-bar ul li {
    list-style-type: none;
}

#secondary-nav__top-bar img {
    width: 1rem;
    height: 1rem;
}

#secondary-nav__top-bar__name {
    
}

#secondary-nav__bottom-bar {
    
}

#secondary-nav__bottom-bar ul {
    display: grid;
    /* change units when icons are implemented (make greeting bigger) */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#secondary-nav__bottom-bar ul li {
    list-style-type: none;
}

#content {
    grid-area: content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "your-projects announcements"
        "your-projects trending";
    
}

#your-projects {
    grid-area: "your-projects";
}

#content-sidebar {
    grid-area: "content-sidebar";
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "announcements"
        "trending";
}

#announcements {
    grid-area: "announcements";
}

#trending {
    grid-area: "trending";
}

#footer {
    grid-area: footer;
}